<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Zwierzaki</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Strona domowa</a></li>
                <li><a href="#about">Regulamin</a></li>
                <li><a href="#contact">Kontakt</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li *ngIf="!isUserLogged()"><a routerLink="/login" routerLinkActive="active">Logowanie</a></li>
                <li *ngIf="!isUserLogged()"><a routerLink="/register" routerLinkActive="active">Rejestracja</a></li>
                <li *ngIf="isUserLogged()"><a routerLink="/announcement" routerLinkActive="active">Dodaj ogłoszenie</a>
                </li>
                <li *ngIf="isUserLogged()"><a routerLink="/edit" routerLinkActive="active">Edycja profilu</a></li>
                <li *ngIf="isUserLogged()"><a routerLink="/login" routerLinkActive="active">Wyloguj</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <router-outlet></router-outlet>
</div>
