<div class="jumbotron">
    <h1>Witamy</h1>
    <p class="lead"> Strona "Opieka dla pupila" została stworzona, by ułatwić kontakt między opiekunami i właścicielami
        zwierząt. </p>
    <p><a class="btn btn-lg btn-success" href="#" role="button">Dołącz teraz!</a></p>
</div>

<div class="panel panel-info">
    <div class="panel-body">
        Jeśli szukasz opieki dla swojego pupila zajrzyj do sekcji "Zaopiekuję się pupilem" lub umieść własne ogłoszenie
        w zakładce "Szukam opiekuna".
        Jeśli jesteś opiekunem i szukasz pracy, przejrzyć ogłoszenia na "Szukam opiekuna" lub umieść własne na
        "Zaopiekuję się pupilem". Pamiętaj, że aby przeglądać profile innych użytkowników lub zamieszczać ogłoszenia,
        musisz najpierw się zarejestrować.

    </div>
</div>

<div class="row home-pet-preview">
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="/assets/images/users/_new.jpg" alt="...">
            <div class="caption">
                <h3>Piesek</h3>
                <p>Bardzo deskryptywny opis pieska. Nie przejdziesz obojętny!</p>
                <p><a href="#" class="btn btn-primary" role="button">Zaopiekuj się!</a> <a href="#"
                                                                                           class="btn btn-default"
                                                                                           role="button">Szczegóły</a>
                </p>
            </div>
        </div>
    </div>
</div>