<form class="form-signin" (ngSubmit)="f.form.valid && register()" #f="ngForm" novalidate>
    <h2 class="form-signin-heading">Zarejestruj się</h2>
    <label for="inputEmail" class="sr-only">Adres email</label>
    <input name="email" [(ngModel)]="model.email" #email="ngModel" required type="email" id="inputEmail"
           class="form-control" placeholder="Email address" required autofocus>
    <label for="inputPassword" class="sr-only">Hasło</label>
    <input name="password" [(ngModel)]="model.password" #password="ngModel" type="password" id="inputPassword"
           class="form-control" placeholder="Password" required>
    <div class="registration-error" *ngIf="error">{{ error }}</div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Zarejestruj się</button>
</form>